.header {
    display: flex;
    background-color: #0654f0;

}
.header h3 {
    font-size: 25px;
    
}
.header ul{
    list-style: none;
}
.header li {
    display: inline-block;
    padding-left: 20px;
}